.button {
    background-color: rgb(196,243,251);
    border: 3px solid rgba(254,254,26,255);
    padding: 25px;
    font-size: 2em;
    margin: 100px;
    color: rgba(254,254,26,255);
    text-align: center;
    text-transform: uppercase;     
    text-shadow: 2px 2px 2px rgb(252,50,22);
    
    border-radius: 15%;
    cursor: pointer;      
}

.button:active{
    background-color: rgb(151, 239, 255);
}

.button:hover{
    box-shadow: 2px 2px 2px rgb(252,50,22);
}