.container{
    position: absolute;
    background-color: #a3f1ff;
    margin: 25px;
    padding: 25px;
    border: 5px solid white;
    z-index: 4;
}

.iconContainer{
    height: 40px;
    text-align: right;
}
.icon{
    font-size: 2em;
    color:rgb(255, 255, 255);
}

.lyrics {
    color: rgb(255, 87, 179); 
    letter-spacing: 1.5px;
    line-height: 1.5;
}


