.container{
    position: absolute;
    background-color: #a8f2ff;
    width: 40%;
    max-height: max-content;
    opacity: 1;
    border: 5px solid white;
    padding: 5px;

}

.lyrics {
    color: rgba(254,157,210,255);
    font-size: 1.5em;
    
}

.icon{
    display: inline-block;
    font-size: 2em;
    color:rgb(255, 255, 255);
    text-align: right;
    margin: 10px;
}
