/* CardHome Style */

  .cardHome {
    height: 300px;
    width: 250px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    background-color: rgb(243, 243, 243);
  }
  .cardHome:hover{
    box-shadow: 2px 2px 2px rgba(255, 255, 159, 0.911);
  }

  .cardImg{
    max-height: 150px;      
  }

  .titleContainer {
      height: 50px;
      width: 100%;
      background-color: rgb(198, 246, 255);
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  
  .cardTitle{
    max-width: 100%;
    font-size: 2em;
    color: rgba(254,254,26,255);
    text-align: center;
    text-transform: uppercase; 
    margin: 2px; 
    text-shadow: 2px 2px 2px rgb(252,50,22); 
  }
  
